<div class="sub"> CREAR EJERCICIO ARTÍCULO/SUSTANTIVO&nbsp;&nbsp;
  <span *ngIf="ejercicio.escenario=='PIRATAS'">
  <img src="../assets/Pirata.png" alt="Zeuss" height="40px">
  <span class="subtitulo">Piratas</span>
  </span>
  <span *ngIf="ejercicio.escenario=='COMIDA'">
      <img src="../assets/Comida.png" alt="Zeuss" height="40px">
      <span class="subtitulo">Comida</span>
  </span>
</div>

<hr>
<div>
  <form ngNativeValidate (ngSubmit)="guardar()">
    <div class="col-sm-3">
      <div class="form-group" class="subtitulo2">
        Primera parte del enunciado
        <br><br>
        <textarea minlength=1 class="form-control" id="exampleTextarea" name="lala" rows="3" maxlength="100" [(ngModel)]="ejercicio.enunciado1"
          required></textarea>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group" class="subtitulo2">
        Respuestas (marca la correcta)
        <br><br>
        <div class="col-sm-4" align="center">
          <div class="form-group">
            <input type="text" class="form-control" name="res1" id="exampleTextarea" placeholder="Opción 1" maxlength="20" [(ngModel)]="respuesta1.enunciado"
              required>
          </div>
          <label class="radio-inline">
            <input type ="radio" id="txtCurso" [value]=1 name="moderado" [(ngModel)]="correcta">
        </label>
          <br><br>
        </div>
        <div class="col-sm-4" align="center">
          <div class="form-group">
            <input type="text" class="form-control" name="res2" id="exampleTextarea" placeholder="Opción 2" maxlength="20" [(ngModel)]="respuesta2.enunciado"
              required>
          </div>
          <label class="radio-inline">
            <input type ="radio" id="txtCurso" [value]=2 name="moderado2" [(ngModel)]="correcta">
        </label>
          <br><br>
        </div>
        <div class="col-sm-4" align="center">
          <div class="form-group">
            <input type="text" class="form-control" name="res3" id="exampleInputPassword1" placeholder="Opción 3" maxlength="20" [(ngModel)]="respuesta3.enunciado"
              required>
          </div>
          <label class="radio-inline">
            <input type ="radio"  id="txtCurso" [value]=3 name="moderado3" [(ngModel)]="correcta">
        </label>
          <br><br>
        </div>
      </div>
      <span *ngIf="message!=''">
      <div class="subtitulo3" style="height: 10px">
        <span class="alert alert-danger" role="alert" align="center">
        {{message}}
      </span>
    </div>
    </span>

</div>

<div class="col-sm-3">
  <div class="form-group" class="subtitulo2">
    Segunda parte del enunciado
    <br><br>
    <textarea class="form-control" id="exampleTextarea2" name="la" rows="3" maxlength="100" [(ngModel)]="ejercicio.enunciado2"
      required></textarea>
  </div>
  <br>
  <br>
  <br><br>

</div>
<div class="col-sm-8">
  <div class="subtitulo2 margenCombo">Nivel
    <select class="form-control" data-live-search="true" id="enca" name="tipoId" [(ngModel)]="ejercicio.nivel" required>  
            <option *ngFor="let i of niveles" [ngValue]="i">{{i}}</option>
        </select> 1 Fácil - 10 Díficil
  </div>
</div>

<div class="col-sm-4">
  <div align="center" class="margenBottom">
    <button type="button" class="btn boton btn-sm" data-toggle="modal" data-target="#myModal2">Ver ejemplo</button>
    <button type="submit" class=" btn boton btn-outline-warning btn-sm">GUARDAR</button>
  </div>
</div>
</form>
</div>

<div class="modal fade" id="myModal2" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" align="center">Ejemplo Actividad 2</h4>
      </div>
      <div class="modal-body" align="center">
        <span *ngIf="ejercicio.escenario=='PIRATAS'">
                <img src="../assets/Ejemplos/Piratas/Actividad2.png" alt="Zeuss" height="300px">
              </span>
              <span *ngIf="ejercicio.escenario=='COMIDA'">
                  <img src="../assets/Ejemplos/Comida/Actividad2.png" alt="Zeuss" height="360px">
                </span>     


      </div>
      <div class="modal-footer">
        <button type="button" class="btn boton2 btn-sm" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>