<div class="margen letra">

  <div align="center">

    <div class="titulo">Módulo del Estudiante</div>
    <span class="subtitulo2" align="center"></span>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="panel panel-default bordes ">
        <div class="panel-body">
          <a href="http://goo.gl/i12KDX" class="negro">Descarga versión escritorio</a>
        </div>
      </div>
      <div class="panel panel-default bordes">
        <div class="panel-body">
          <a href="https://goo.gl/sWHzQk" class="negro">Descarga versión móvil</a>
        </div>
      </div>
      <div class="panel panel-default bordes">
          <div class="panel-body">
            <a [routerLink]="['/modulolEstudiante/manualEstudiante']" class="negro">Manual de usuario</a>
          </div>
        </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>