<div class="margen letra">

    <div align="center">

        <div class="titulo">Quiénes Somos</div>
        <span class="subtitulo2" align="center">
        Pontificia Universidad Javeriana<br>
        Facultad de Ingeniería <br>
        Ingeniería de Sistemas<br>
        2017<br>
<br>
        <span style="color:#0072ff">Trabajo de Grado</span><br> Zeuss: software de apoyo al aprendizaje de construcción
        gramatical<br>
        Módulo del Profesor<br>
        <br>
        <span style="color:#0072ff">Autores</span><br> María José Mendoza Rincón<br> Camilo Andrés Moreno Laverde<br> David
        Leonardo Velasco Zambrano<br>
        <br>
        <span style="color:#0072ff"> Directora</span><br> Angela Cristina Carrillo Ramos<br>
        <br>
        <span style="color:#0072ff">Asesora de contenido</span><br> Monica Ilanda Brijaldo Rodríguez<br>
        <br>
        <span style="color:#0072ff">Objetivo general</span><br> Desarrollar un software de apoyo al aprendizaje de gramática
        para reforzar el proceso lecto-escritor en alumnos de formación básica primaria.
        <br><br>
        <a class="btn btn-success" href="http://pegasus.javeriana.edu.co/~CIS1710CP06/"><span style="font-size:22px">Sitio web</span><br></a>
        </span>
    </div>

</div>                                     
<br><br><br>

