<div class="row">
  <div class="sub">Reporte de {{curso.nombre}}</div>
</div>

<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-4">
    <div class="subtitulo">Errores</div>
    <div style="display: block">
      <canvas baseChart [data]="pieChartDataErrores" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
  <div class="col-sm-4">
    <div class="subtitulo">Tiempo</div>
    <div style="display: block">
      <canvas baseChart [data]="pieChartDataTiempo" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
    </div>
  </div>
  <div class="col-sm-1">
  </div>
</div>

<div class="row">
  <div class="col-sm-2">

  </div>
  <div class="col-sm-8" align="center"><br><br>
    <div class="subtitulo">Tiempos por actividad</div><br><br>
    <button type="button" class="btn btn-info letra3" (click)="tiempos(1)" autofocus>Articulo/Sustantivo</button>
    <button type="button" class="btn btn-info letra3" (click)="tiempos(2)">Sujeto/Verbo</button>
    <button type="button" class="btn btn-info letra3" (click)="tiempos(3)">Adjetivo/Sustantivo</button>
    <br><br>

    <div class="letra3">

      <div style="display: block" >
        <canvas baseChart class="letra3" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
          [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
     
    </div>

  </div>
  <div class="col-sm-2">
  </div>

  <div class="col-md-12 text-center" style="margin-top: 10px;height: 50%">
      <button class="btn btn-warning btn-lg letra3" (click)="randomizeType()" style="display: inline-block">Cambiar tipo de gráfico</button>
  </div>
</div>