<div class="margen letra">
  
      <div align="center">
  
          <div class="titulo">Manual del Estudiante</div>
          <span class="subtitulo2" align="center">
          En el video encontrarás las instrucciones para utilizar el módulo del estudiante de Zeuss.
  </span>
  <video width="80%"  controls controlsList="nodownload">
    <source src="../../assets/ManualEstudiante.mp4" type="video/mp4">
    Utiliza Google Chrome para poder reproducir el video.
  </video>
      </div>
  </div>            