<div class="col-sm-5">
</div>
<div class="col-sm-2">
  <div class="sub"> Cursos</div>
</div>
<div class="col-sm-5 sub">
  <button type="button" class=" btn boton btn-outline-warning btn-sm" [routerLink]="['/curso/crear']">CREAR</button>
</div>
<div class="col-sm-3">
</div>
<div class="col-sm-6">
  <hr>
  <div class="panel-group" id="accordion">
      <div class="panel panel-default bordes" *ngFor="let c of cursos; let i = index">
        <div class="panel-heading ">
          <h4 class="panel-title">
            <a class="subtitulo" data-toggle="collapse" data-parent="#accordion" href="#{{c.id}}">{{c.nombre}}</a>
          </h4>
        </div>
        <div id="{{c.id}}" class="panel-collapse collapse" align="center">
          <div class="panel-body">
              <button type="button" class="btn btn-warning" [routerLink]="['/curso/editar', c.id]"><span class="glyphicon glyphicon-cog blanco"><span class="blancoFont"> Editar</span></span></button>
              <button type="button" class="btn btn-danger" [routerLink]="['/curso/reporte', c.id]"><span class="glyphicon glyphicon-stats blanco"><span class="blancoFont"> Reporte</span></span></button>
              <button type="button" class="btn btn-success" [routerLink]="['/estudiante/list', c.id]"><span class="glyphicon glyphicon-user blanco"><span class="blancoFont"> Estudiantes</span></span></button>
          </div>
        </div>
      </div>
  </div>

</div>
<div class="col-sm-3">
</div>
<br>
<br>
<br>